.error div {
  color: red;
}

.initial {
  display: none;
}

.error {
  padding: 300px;
}

.login {
  margin-top: 15vh;
}

#boardApp h3 {
  color: #AAA;
}

.login h1, .login p {
  font-family: 'Indie Flower', cursive;
  font-size: 100px;
  text-align: center;
  color: #AAA;
}

.button-primary {
  background-color: orange !important;
  border-color: orange !important;
}

.login p {
  font-size: 20px;
  margin-bottom: 8vh;
}

.login .row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.whiteboard div {
  width: 150px;
  height: 150px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  background-color: orange;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
}

.whiteboard a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.whiteboard:last-child div {
  background-color: #333;
}

.whiteboard div:hover {
  opacity: 0.8;
}

#registerApp {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#notificationApp {
  position: relative;
}

#notificationSection {
  position: absolute;
  top: 50px;
  left: -80px;
  background: white;
  border: #AAA solid 1px;
  min-width: 195px;
  height: 250px;
  overflow-y: auto;
}

#notificationSection p {
  text-align: center;
  color: #aaa;
  padding-top: 100px;
}

#notificationTriangleOne {
  position: absolute;
  top: 39px;
  left: 6px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #AAA;
}

#notificationTriangleTwo {
  position: absolute;
  top: 41px;
  left: 7px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

#notificationSection a {
  border-width: 0px;
  border-bottom: 1px solid #DDD;
  border-radius: 0px;
  text-decoration: none;
  padding: 5px 3px;
  font-weight: bold;
  cursor: pointer;
}

#addUser {
  position: relative;
}

#suggestion {
  border-radius: 2px 2px 2px 2px;
  background-color: white;
  color: #666;
  padding: 10px;
  margin-bottom: 10px;
}

#notificationCounter {
  border-radius: 2em 2em 2em 2em;
  background: red;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  border: 2px solid white;
}

.editor {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100% !important;
  padding: 100px 20%;
  height: 0px;
  color: white;
  background-color: black;
}

.editor th {
  color: white;
}

.editor td {
  color: #BBB;
}

.editor-closed {
  display: none;
}

#registerApp {
  margin-top: 25vh;
}

.notMatching {
  border-color: #FBB !important;
}

.waiting {
  display: none;
}

.loadIn {
  -webkit-animation: loadInFrames 0.4s linear forwards;
  -moz-animation: loadInFrames 0.4s linear forwards;
  -o-animation: loadInFrames 0.4s linear forwards;
  animation: loadInFrames 0.4s linear forwards;
}

.openEditor {
  -webkit-animation: loadInFrames 0.2s linear forwards;
  -moz-animation: loadInFrames 0.2s linear forwards;
  -o-animation: loadInFrames 0.2s linear forwards;
  animation: loadInFrames 0.2s linear forwards;
}

.editor img {
  margin:10px;
  height:15px;
  width:auto;
  cursor:pointer;
}

.notification {
  padding: 2px;
}

.stopClick {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.reload {
  opacity: 0.4;
}

.checked {
  background: #AFA;
}

#boardApp img {
  margin: 0px;
}

@-webkit-keyframes loadInFrames {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block !important;
    opacity: 0;
  }

  100% {
    display: block !important;
    opacity: 1;
  }
}

@-moz-keyframes loadInFrames {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block !important;
    opacity: 0;
  }

  100% {
    display: block !important;
    opacity: 1;
  }
}

@-o-keyframes loadInFrames {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block !important;
    opacity: 0;
  }

  100% {
    display: block !important;
    opacity: 1;
  }
}

@keyframes loadInFrames {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block !important;
    opacity: 0;
  }

  100% {
    display: block !important;
    opacity: 1;
  }
}

.showScroll {
  -webkit-animation: showScrollFrames 0.2s ease-in forwards;
}

.showScroll .button {
  border-color: #AFA;
}

.whiteboard:nth-child(3n+1) {
  margin-left: 0px !important;
}

.whiteboardShared div {
  background-color: #ffcc80 !important;
}

#whiteboardApp h3 {
  margin-top: 50px;
  color: grey;
}

@-webkit-keyframes showScrollFrames {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(-30px);
  }

  1% {
    opacity: 0;
    display: block;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    display: block;
    transform: translateY(0px);
  }
}
