<!DOCTYPE>
<html>

  <head>
    <title>Whiteboard | Board</title>
    <link rel="stylesheet" type="text/css" href="./css/libs/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="./css/custom/global.css" />
    <link rel="icon" type="image/gif" href="/img/icon.png" />
  </head>

  <body>

    <div id="boardApp" class="container initial">
      <div :class="{loadIn:loaded, 'editor-closed':!loaded}">
        <div class="row">

          <div :class="{'seven columns':whiteboard, 'eight columns':!whiteboard}" @mouseenter="enterHeader" @mouseleave="exitHeader">
              <h3>
                <span v-if="whiteboard">
                  {{whiteboard.tablename}}
                  <img :class="{openEditor:enteredHeader, 'editor-closed':!enteredHeader}"  src="/img/minus.png"
                  @click="deleteWhiteBoard" style="cursor:pointer;height:15px;width:auto;padding-bottom:10px;">
                </span>
                <span v-if="sharedWhiteboard">
                  {{sharedWhiteboard.tablename}}
                </span>
            </h3>
          </div>

          <div class="one column" id="notificationApp">
            <div @click="toggleNotifications" style="cursor:pointer;">
              <img class="button notification" src="/img/notifications.png" />

              <div id="notificationCounter" v-if="notifications">
                {{notifications.length}}
              </div>
            </div>

            <div id="notificationSection" v-if="showNotifications">
              <a v-for="notification in notifications" style="display:block;"
              @click="openNotification(notification.id, notification.whiteboard_id)">
                {{notification.event}}
              </a>
              <p v-if="!notifications">
                No notifications
              </p>
            </div>
            <div id="notificationTriangleOne" v-if="showNotifications"></div>
            <div id="notificationTriangleTwo" v-if="showNotifications"></div>
          </div>

          <div class="two columns" v-if="whiteboard">
            <button class="button" @click="openEditor">Manage users</button>
          </div>
          <div :class="{'one column':whiteboard, 'three columns':!whiteboard}">
            <a class="button" href="/whiteboard">Back</a>
          </div>
        </div>

        <table class="u-full-width" cellspacing="0" cellpadding="0" :class="{reload:reloading}">
          <tr v-if="whiteboard">
            <th v-for="column in whiteboard.columns.split(',')">
              {{column}}
            </th>
          </tr>

          <tr v-if="sharedWhiteboard">
            <th v-for="column in sharedWhiteboard.columns.split(',')">
              {{column}}
            </th>
          </tr>

          <tr v-for="(notice, key) in noticies"
          @mouseenter="showCheck(key)" @mouseleave="hideCheck(key)" :class="{checked: notice.checked}">
            <td v-for="item in notice.column_data.split(',')" style="padding:20px;">
              {{item}}
            </td>
            <td>
              <img :class="{openEditor:notice.showCheck, 'editor-closed':!notice.showCheck}"
              style="cursor:pointer;"
              @click="toggleNotice(key)"
              src="/img/check.png" />

              <img v-if="whiteboard||canEdit"
              :class="{openEditor:notice.showCheck, 'editor-closed':!notice.showCheck}"
              style="cursor:pointer;"
              @click="deleteNotice(key)"
              src="/img/bin.png" />
            </td>
          </tr>

          <!-- Section for adding new notice -->
          <tr v-if="whiteboard||canEdit"
            :class="{showScroll:addField, 'editor-closed':!addField}">

            <td v-for="(field, index) in newFieldData">
              <input type="text" placeholder="New field" v-model="newFieldData[index]" />
            </td>
            <td>
              <button class="button" @click="createNotice">Add Row</button>
            </td>

          </tr>
        </table>

        <button class="button-primary" v-if="whiteboard||canEdit" @click="addNewField">Add Row</button>

      <div :class="{stopClick:reloading}">
      </div>

      </div>

        <div class="editor" style="opacity:0px;" :class="{openEditor:addNewUser, 'editor-closed':!addNewUser}">
          <h2>Manage users</h2>

          <table v-if="usersForBoard">
            <tr>
              <th>
                Users allocated to board
              </th>
            </tr>
            <tr v-for="user in usersForBoard">
              <td>
                <img @click="deleteUser(user.id)" src="img/minus.png" /> {{user.username}} <span v-if="user.can_edit" style="color:grey;"> - can edit</span>
              </td>
            </tr>
          </table>

          <strong>Add user to board</strong>
          <div class="row">
            <div class="six columns" id="addUser">
              <input type="text" v-model="userToAdd" placeholder="Username" class="u-full-width" />
              <div id="suggestion" class="u-full-width" v-if="filteredNames.length>0">
                <div v-for="user in filteredNames" style="cursor:pointer;" @click="selectUser(user.username)">
                  {{user.username}}
                </div>
              </div>
              Can edit <input type="checkbox" v-model="canEditCheckbox" />
            </div>
          </div>

          <button class="button-primary" @click="addNewUserToBoard">Add user</button>
          <button class="button" @click="closeEditor">Cancel</button>
        </div>
    </div>

    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/page/board.js"></script>
    <script src="./js/page/notification.js"></script>
  </body>

</html>
