<!DOCTYPE html>
<html>

  <head>
    <title>Whiteboard | home</title>

    <link rel="stylesheet" type="text/css" href="./css/libs/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="./css/custom/global.css" />
    <link rel="icon" type="image/gif" href="/img/icon.png" />
  </head>

  <body>
    <div class="container initial" id="whiteboardApp">
      <div :class="{loadIn: loaded, waiting: !loaded}">
        <div class="row">

          <div class="eight columns">
            <h5><strong>User: {{username}}</strong></h5>
          </div>

          <div class="one column" id="notificationApp">
            <div @click="toggleNotifications" style="cursor:pointer;">
              <img class="button notification" src="/img/notifications.png" />

              <div id="notificationCounter" v-if="notifications">
                {{notifications.length}}
              </div>
            </div>

            <div id="notificationSection" v-if="showNotifications">
              <a v-for="notification in notifications" style="display:block;"
              @click="openNotification(notification.id, notification.whiteboard_id)">
                {{notification.event}}
              </a>
              <p v-if="!notifications">
                No notifications
              </p>
            </div>
            <div id="notificationTriangleOne" v-if="showNotifications"></div>
            <div id="notificationTriangleTwo" v-if="showNotifications"></div>
          </div>

          <div class="one column">
            <a class="button" href="/logout">Logout</a>
          </div>
        </div>
          <h1>
            Your whiteboards
          </h1>

        <div class="row">
          <div v-for="(whiteboard, index) in whiteboards" class="four columns whiteboard">
            <a :href="'/board?id=' + whiteboard.id">
              <div>
                  {{whiteboard.tablename}}
              </div>
            </a>
          </div>

          <div class="four columns whiteboard">
            <div @click="openEditor">
              Create new whiteboard
            </div>
          </div>
        </div>

          <h3>
            Whiteboards shared with you
          </h3>

          <div class="row">
            <div v-for="(whiteboard, index) in sharedWhiteboards" class="four columns whiteboard whiteboardShared">
              <a :href="'/board?id=' + whiteboard.id">
                <div>
                    {{whiteboard.tablename}}
                </div>
              </a>
            </div>
        </div>

      <div class="editor" style="opacity:0px;" :class="{openEditor:createWhiteboard, 'editor-closed':!createWhiteboard}">
        <h2>Create new whiteboard</h2>
        <div class="row">
          <div class="six columns">
            <input type="text" v-model="whiteboardName" placeholder="Whiteboard name" class="u-full-width" />
          </div>
        </div>

        <div class="row" v-for="(column, index) in columns">
          <div class="six columns">
            <input type="text" placeholder="Column" v-model="columns[index]" class="u-full-width" />
          </div>
          <img
          @click="removeColumn(index)"
          src="./img/minus.png"/>
        </div>

        <button class="button-primary" @click="createNewWhiteboard">Create new whiteboard</button>
        <button class="button" @click="addColumn">Add new column</button>
        <button class="button" @click="closeEditor">Cancel</button>
      </div>
    </div>

    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/page/whiteboard.js"></script>
  </body>
</html>
